*{
  margin: 0;
  padding: 0;
  text-align: center;
}
h1{
  background-color: rgb(17, 17, 62);
  color: white;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.choices{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
  height: 230px;
}
.choice img{
  border-radius: 50%;
  background-size: cover;
}
.choice img:hover {
  cursor: pointer;
  border: 10px solid rgb(18, 18, 58);
}
.score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 100px;
  font-weight: bold;
  font-size: 30px;
}
.msg-container{
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
  background-color: rgb(47, 15, 78);
  color: white;
  align-items: center;
  width: 30%;
  padding: 15px;
  margin-left: 32%;
  border-radius: 20px;
  cursor: pointer;
}
